* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

/*Header*/

/*Main Header*/

#main-header {
    border-style: dashed;
    border-color: black;
    display: flex;
    height: 80px;
    justify-content: space-between;
    min-width: fit-content;
}

#left-head {
    display: flex;
    border-style: dashed;
    border-color: black;
    width: 50%;
}

.logo-dropbox{
    align-items:center;
    margin: 24px 15px;
    width: 16%;
}

.info-left {
    display: flex;
    border-style: dashed;
    border-color: black;
    gap: 20px;
    width: 84%;
}

#right-head {
    border-style: dashed;
    border-color: black;
    display: flex;
    width: 50%;
}

.info-right {
    display: flex;
    border-style: dashed;
    border-color: black;
    gap: 20px;
    width: 93%;
    justify-content: flex-end;
}

.start {
    align-items:center;
    margin: 24px 15px;
    width: 7%;
}

/*Jumbotron*/

#jumbotron {
    height: 600px;
    background-color: #B4D0E6;
    border-style: dashed;
    border-color: black;
}

.main-info {
    border-style: dashed;
    border-color: black;
    margin-left: 325px;
    margin-top: 100px;
    height: 200px;
    width: 56%;
}

.container-info {
    display: flex;
    border-style: dashed;
    border-color: black;
    margin-left: 325px;
    height: 297px;
    width: 56%;
}

.p-info {
    border-style: dashed;
    border-color: orange;
    height: 297px;
    width: 35%;
}

.slide1-info1 {
    border-style: dashed;
    border-color: black;
    height: 40%;
}

.free-trial {
    border-style: dashed;
    border-color: black;
    height: 15%;
}

.slide1-info2 {
    border-style: dashed;
    border-color: black;
    height: 15%;
}

.row {
    border-style: dashed;
    border-color: black;
    height: 30%;
}

.jumbo-img {
    border-style: dashed;
    border-color: rgb(128, 62, 117);
    height: 370px;
    width: 65%;
}

/*Body*/

/*1° sezione*/

#first-slide {
    height: 1500px;
    border-style: dashed;
    border-color: black;
}